/*Components files */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Police */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');
